.wrapper_with_padding
  #docs.clearfix
  - unless @docs.blank?
    %table
      %tr
        %th Doc Title
        %th Created
        %th Preview
      - @docs.each do |doc|
        %tr
          %td
            %a{ href: (url_for [doc]) }
              %h2.title= doc.title
          %td
            %p.date= time_ago_in_words doc.created_at
          %td
            %p.content= truncate strip_tags(doc.content), length: 50
  - else
    %h2 Create Doc!
    %p Start creating documents and organizing your life!
    %button= link_to "Create Doc", new_doc_path