#banner
  .banner_content
    %h1 FileCabinet
    %p Your life's work.  Organized, always.
    %button= link_to "Sign Up", new_user_registration_path
#callouts
  .callout_inner
    .wrapper
      .callout
      %h2 Organize
      %p Austin direct trade poutine, normcore actually street art pop-up ethical occupy lo-fi dreamcatcher cardigan food truck marfa. Roof party cred tilde green juice ennui lumbersexual. Normcore kitsch selvage, mlkshk next level williamsburg street art shabby chic pinterest. Fixie tousled heirloom, twee four loko pitchfork vegan banh mi aesthetic portland lomo gentrify raw denim. Master cleanse man braid fanny pack, 90's gastropub marfa swag banh mi lumbersexual dreamcatcher flannel artisan. Tote bag mlkshk marfa, tattooed single-origin coffee biodiesel authentic +1. Banjo semiotics paleo man braid cliche.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path